html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;

}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,:before,:after {
-moz-box-sizing:border-box;
-webkit-box-sizing:border-box;
box-sizing:border-box;
-webkit-backface-visibility:hidden;
}
audio {
  visibility: hidden;
}


body {
  background: #000000;

}
.frame {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  color: green;
  font-size: 40px;
}
.button {
  height: 200px;
  width: 300px;
  background: red;
  z-index: 999;
}
.end-video {
  z-index: -10;
}
.test, .end-video {
  width: 100%    !important;
  height: auto   !important;
  position: fixed;
  top: 0;
  left: 0;
}
.timeline-1 {
  height: 3000px;
  width: 100%;
}
.timeline-2 {
  height: 2000px;
  width: 100%;
}
.timeline-3 {
  height: 4000px;
  width: 100%;
}
.timeline-4 {
  height: 6700px;
  width: 100%;
}
.no-support {
  background: #000000;
  font-size: 20px;
  text-align: center;
  font-family: "Courier New", Courier, monospace;  
}
.buttons {
  width: 300px;
  height: 100px;
  color: #fff;
  font-size: 100px;
  position: relative;
  z-index: 999;
  top: 100px;
  left: 100px;
  z-index: -100;

}
.buttons:hover {
  color:#f00;
}
#instructions {
  width: 100%;
  color: #ffffff;
  height: 100%;
  background: #000000;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999999;
  text-align: center;
  font-family: "Courier New", Courier, monospace;  
}
#instructions p {
  margin: 40px 0;
}
#instructions p:first-child {
  font-size: 20px;
}

.instruction-text {
  width: 400px;
  height: 300px;
  margin: auto;
  position: absolute;
  left: 0; bottom: 0; right: 0; top: 0;
}
.instruction-close {
  cursor: pointer;
  display: block;
  margin: 0 auto;
  width: 195px;
  height: 97px;
  background: url("../images/start.png");
}
.instruction-close:hover {
   background-position: -195px 0; 
}
.scroll {
  width: 130px;
  height: 116px;
  position: fixed;
  margin-left: -65px;
  left: 50%;
  z-index: 10;
  opacity: 1;
  bottom: 5%;
  -webkit-animation: scroll-bounce 1.5s linear 1.5s infinite alternate;
    animation: scroll-bounce 1.5s linear 1.5s infinite alternate;
}
#section-one-right-continue, #section-one-left-continue, #section-two-left-continue, #section-two-right-continue {
  width: 402px;
  height: 109px;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  z-index: 9999;
  background: url("../images/continue.png");
}
#section-one-right-continue:hover, #section-one-left-continue:hover, #section-two-left-continue:hover, #section-two-right-continue:hover {
  background-position: -402px 0;
}
.thisdiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: black;
  color: #fff;
  font-size: 25px;
  z-index: 99999;
}
#credits {
    display:block;
    width:100%;
    height:100%;
    position:absolute;
    top:100%;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
}
#end-replay {
  width: 224px;
  height: 111px;
  margin: auto;
  position: fixed;
  left: 0; bottom: 0; right: 0; top: 0;
  z-index: 9999;
  background: url("../images/replay.png");
}
#end-replay:hover {
  background-position: -224px 0;
}

#intro-continue {
  width: 230px;
  height: 110px;
  margin: auto;
  position: absolute;
  left: 0; bottom: 10%; right: 0;
  z-index: 9999;
  background: url("../images/enter.png");
}
#intro-continue:hover {
  background-position: -232px 0;
}

@-webkit-keyframes scroll-bounce {
    0%   {bottom:40px;}
    50%  {bottom:30px;}
    100% {bottom:40px;}
}
@-moz-keyframes scroll-bounce {
    0%   {bottom:40px;}
    50%  {bottom:30px;}
    100% {bottom:40px;}
}
@keyframes scroll-bounce {
    0%   {bottom:40px;}
    50%  {bottom:30px;}
    100% {bottom:40px;}
}

.leftorright {
  width: 538px;
  height: 231px;
  margin: -100px 0 0 -269px;
  left: 50%;
  top: 35%;
  position: fixed;
  z-index: 10;
}
.choose {
  width: 650px;
  height: 130px;
  left: 50%;
  margin-left: -325px;
  top: 0;
  position: absolute;
  background: url(../images/choose-your-path.png) no-repeat;
}
.left {
  width: 150px;
  height: 58px;
  left: 0px;
  top: 186px;
  position: absolute;
  background: url(../images/left.png) no-repeat;
}
.left:hover {
  background-position: -150px 0;
}
.or {
  width: 88px;
  height: 95px;
  left: 215px;
  top: 176px;
  position: absolute;
  background: url(../images/or.png) no-repeat;
}
.right {
  width: 182px;
  height: 58px;
  right: 0px;
  top: 186px;
  position: absolute;
  background: url(../images/right.png) no-repeat;
}
.right:hover {
  background-position: -182px 0;
}
#text-container {
  position: fixed;
  height: 46%;
  width: 42.5%;
  z-index: 9999;
  box-sizing: border-box;
  top: 28%;
  left: 23.5%;
  perspective: 1000px;
}

#writer  {
  font-family: "Courier New", Courier, monospace;
  color: green;
  height: 100%;
  width: 100%;
  padding: 10%;
 font-size: 22px;
line-height: 1.5;
-webkit-perspective: 1000px;
-moz-perspective: 1000px;
-o-perspective: 1000px;
-ms-perspective: 1000px;
perspective: 1000px;
-webkit-perspective-origin: 10%, 50%;
-moz-perspective-origin: 10%, 50%;
-o-perspective-origin: 10%, 50%;
-ms-perspective-origin: 10%, 50%;
perspective-origin: 10%, 50%;
text-shadow: 0px 0px 0px #000000;
-webkit-transform-origin: 40% 40%;
-moz-transform-origin: 40% 40%;
-o-transform-origin: 40% 40%;
-ms-transform-origin: 40% 40%;
transform-origin: 38% 88%;
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
-o-transform-style: preserve-3d;
-ms-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-transform: perspective(700px) rotateX(-2deg) rotateY(6deg) rotateZ(0deg) scale(1) skew(1deg, -5deg) translate(0px, 0px);
-moz-transform:perspective(700px) rotateX(-2deg) rotateY(6deg) rotateZ(0deg) scale(1) skew(1deg, -5deg) translate(0px, 0px);
-o-transform:perspective(700px) rotateX(-2deg) rotateY(6deg) rotateZ(0deg) scale(1) skew(1deg, -5deg) translate(0px, 0px);
-ms-transform:perspective(700px) rotateX(-2deg) rotateY(6deg) rotateZ(0deg) scale(1) skew(1deg, -5deg) translate(0px, 0px);
}


.demo {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform:translate3d(0,0,0);
}



